@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Global */
.container {
  display: block;
  width: 100%;
}

.btn {
  background-color: #3075ff;
  padding: 10px 50px;
  border-radius: 20px;
}

.home-btn {
  background-color: #8b8e92;
  padding: 10px 30px;
}

/* Components */
/* Home */
.home {
  /* color: #fff; */
  font-size: 32px;
  margin-bottom: 50px;
}

.login-btn {
  color: #fff;
}

/* Login page */

.login {
  font-size: 32px;
  margin-bottom: 50px;
}

.logform {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.log-input {
  width: 10%;
  border: 1px solid gray;
  padding: 7px;
}

.log-btn {
  margin-top: 10px;
  margin: 20px auto 0;

}

.logform input {
  margin: 0 auto;
}

/* Product */

.cards_list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card {
  display: flex;
  width: 100%;
  justify-content: center;
}

.product-card {
  padding-bottom: 30px;

  font-family: "Heebo";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  
  color: #29292a;
  border: 1px solid #dddddd;
  border-radius: 20px;
  transition: border 0.2s linear;
  overflow: hidden;
}

.product-card:hover {
  border-color: #e9393c;
}

.card__inner {
  padding: 0 10px;
}

.product_image {
  margin-bottom: 13px;
  background-image: url("../public/xiaomi1.jpg");
  background-size: 259px;
}

.product_image img {opacity: 0;}

.product-name {
  /* instead of margint should be categories list */
  margin-top: 25px;
  padding-bottom: 6px;
}

.product-price {
  font-size: 18px;
}

.product-rating {
  color: #fdc346;
  font-size: 20px;
  margin: 12px 0;
}

.btn-products {
  padding: 7px 14px;

  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;

  transition: 0.25s linear; 
  transition-property: color, background;
  border: #dddddd 1px solid;
  border-radius: 30px;
}

.btn-products:hover {
  background-color: red;
  color: #fff;
}

.devider { 
  display: flex;
  justify-content: space-evenly;
}